html, body {
    margin: 0;
    padding: 0;
}
canvas {
    position:fixed; top:0; left:0; z-index:1;
    display: block;
}

.resources{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 12%;
    width: 25%;
    border-radius: 25px;
    background-color: rgba(112, 112, 112, 0.472);
}

.playersnamesandscores{
    position: absolute;
    top: calc(15px + 12%);
    right: 5px;
    height: 150px;
    width: 200px;
    border-radius: 25px;
    background-color: rgba(112, 112, 112, 0.472);
}

#contenu { position:relative; z-index:2; }
